/* Default CSS settings for PIPE42 */

/* Makes the divider in the SplitPane invisible */
.split-pane *.split-pane-divider {
    -fx-padding: 1 0 1 0;
}

/* Overall window color scheme */
#splitPane_center {
	-fx-background-color: #b0bab0;
}
#vbox_top_menuBar {
	-fx-background-color: #828c7c;
}
.menu .label {
    -fx-text-fill: #ffffff;
}
.menu-item .label {
    -fx-text-fill: #111111;
}
#toolBar_top, #hbox_bottom {
	-fx-background-color: #626a5d;
}

